.header {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40rem;
    padding: 1rem;

    background-image: url("../../../public/imageHeader.svg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.headerSearchContainer {
    max-width: 80%;
    width: 30%;
}

@media screen and (max-width: 768px) {
    .headerSearchContainer {
        width: 100%;
    }
}